body {
  background-color: #fafafa;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards {
  margin: 50px 0;

  .card {
    margin: 0 2% !important;

    &.infected {
      border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    }

    &.recovered {
      border-bottom: 10px solid rgba(0, 255, 0, 0.5);
    }

    &.deaths {
      border-bottom: 10px solid rgba(255, 0, 0, 0.5);
    }
  }
}

.chart {
  display: flex;
  justify-content: center;
  width: 85%;
}

.country-picker {
  width: 30%;
  margin-bottom: 30px !important;
}

@media (max-width: 770px) {
  .main-container {
    margin: 0 10%;
  }

  .card {
    margin: 2% 0 !important;
  }

  .chart {
    width: 100%;
  }
}
